$bg-primary: #fffefa;
$bg-secondary: #4d4d4d;
$bg-third: rgb(0, 158, 97);

$font-primary: 'Roboto Mono', monospace;

$font-size-primary: 14px;
$font-size-secondary: 20px;
$font-size-third: 24px;
$font-size-fourth: 60px;

$font-weight-medium: 500;


$color-primary: #363636;
$color-secondary: #fbf8e9;
$color-third: #cccccc;

$color-active: #02fff0;




